

/* ==========================================================================
   #BUTTON
   ========================================================================== */
   .btn-submit {
    display: inline-block;
    line-height:40px;
    margin-top: 25px;
    font-family: inherit;
   
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    color: rgb(10, 10, 10);
    font-size: 38px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 0 30px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  }
  
  .btn-submit:hover {
    background:green !important;
  }
  
  @media (max-width: 767px) {
    .btn-submit {
      width: 100%;
    }
  }
  
  .m-t-0 {
    margin-top: 0;
  }
  
  .m-t-15 {
    margin-top: 15px;
  }
  
  .m-t-35 {
    margin-top: 35px;
  }
  
  
  
  /* ==========================================================================
     #FORM
     ========================================================================== */
  
  
  
  
  .input-group {
    position: relative;
    margin-bottom: 23px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 20px;
    padding-bottom: 10px;
    background:white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
  }
  
  .form::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .input-icon {
    font-size: 24px;
    color:green  ;
    position: absolute;
    line-height: 60px;
    right: 20px;
    top: 0;
    width: 20px;
    background:green;
    text-align: center;
    cursor: pointer;
  }
  
  .input-icon::before {
    display: block;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .label {
    font-size: 12px;
    color:green;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
  }
  
  .input--large {
    width: 300px;
    height: 80px;
  }
  
  
  
  .input--medium {
    width: 190px;
  }
  
  @media (max-width: 767px) {
    .input--large,
    .input--medium {
      width: 100%;
    }
  }
  
  .input--style-1 {
    font-size: 18px;
    padding: 9px 0;
    color: green;
    margin-top: -10px;
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  }
  
  .input--style-1::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: green;
  }
  
  .input--style-1:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: green;
    opacity: 1;
  }
  
  .input--style-1::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color:green;
    opacity: 1;
  }
  
  .input--style-1:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: green;
  }
  
  .input--style-1:-ms-input-placeholder {
    /* Microsoft Edge */
    color: green;
  }
  
  .m-b-0 {
    margin-bottom: 0;
  }
  
  @media (max-width: 767px) {
    .m-b-0 {
      margin-bottom: 26px;
    }
  }
  
  /* ==========================================================================
     #SELECT
     ========================================================================== */
  
  
  /* ==========================================================================
     #CARD
     ========================================================================== */
  .card-7 {
    background:transparent;

    position: relative;
  }
  
  .card-7 .card-body {
    padding: 0 20px;
  }