.App-link {
  color: #57e44a;
}
a {
  color:green !important;
  text-decoration:none;

}
a:hover {
  color:red !important;
  text-decoration:none;

}
a{
  cursor:pointer; 
} 
.header{
  color:green !important;
  text-decoration:wavy;
font-family: Arial, Helvetica, sans-serif;
font-size: xx-large;
font-weight: bolder;
margin-right: 25px;
}
